<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="authors">
                <span class="oi oi-person" aria-hidden="true"></span> Authors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loans/borrow">
                <span class="oi oi-loop-circular" aria-hidden="true"></span> Borrow Book
            </NavLink>
        </li>
    </ul>
</nav>
