@page "/authors"
@using LibraryAdminPage.Components.Models
@inject LibraryAdminPage.Components.Interfaces.IAuthorService AuthorService
@inject NavigationManager Nav

<h3>Authors</h3>
<NavLink class="btn btn-primary mb-3" href="@("/authors/edit")">
  New Author
</NavLink>

@if (authors is null)
{
  <p><em>Loading…</em></p>
}
else
{
  <table class="table">
    <thead><tr><th>Id</th><th>Name</th><th></th></tr></thead>
    <tbody>
      @foreach (var a in authors)
      {
        <tr>
          <td>@a.Id</td><td>@a.Name</td>
          <td>
            <NavLink class="btn btn-sm btn-secondary me-1"
                                 href="@($"/authors/edit/{a.Id}")">
              Edit
            </NavLink>
            <button class="btn btn-sm btn-danger"
                    @onclick="() => Delete(a.Id)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  List<AuthorDto>? authors;
  protected override async Task OnInitializedAsync()
    => authors = await AuthorService.GetAllAsync();

  async Task Delete(int id)
  {
    if (await AuthorService.DeleteAsync(id))
      authors = await AuthorService.GetAllAsync();
  }
}
